<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>stock prediction</title>
  <body>
    <h1 style="padding:10px">Stock prediction </h1>
   
    <h3>Enter a Stock Ticker Symbol to See the prediction</h3>
    <form action = "http://127.0.0.1:5000/predict" method = "POST">
       
        <b>Stock Ticker Symbol: </b> 
        <input id="text_field" name="ticker" type="text" required>     
        <b>Start and End date: </b>
        <input type="date" id="Start" name="Start Date">
        <input type="date" id="End" name="End Date">
             

        <center><input id="submit_button" type="Submit" class="push_button blue"></center>
        
   </form>
   

    </form>
 </body>
    
</head>

</html>


